thead .MuiTableRow-root .thead .MuiTableRow-head {
    background-color: #033076;
    color: white;
}

.root {
    display: table-header-group;
    background-color: #033076;
    font-family: monospace;
    color: white;
    width: '80%';
    margin-top: 3;
    color: #033076;
}

.table {
    width: 700;
}

.thead {
    background-color: #033076;
    font-family: monospace;
    color: white;
}

.tbody {
    color: #033076;
    font-family: monospace;
}