.center {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.cardContent {
    text-align: center;
    color: #033076;
    margin-top: 2em;
    font-family: monospace;
}

#standard-label {
    font-family: monospace;
}

.button {
    text-align: center;
    justify-content: center;
    font-family: monospace;
    margin-bottom: 2em;
}