body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-image: url(https://cdn.pixabay.com/photo/2018/05/10/10/13/feedback-3387214_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 50px;
}
