body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-image: url(https://cdn.pixabay.com/photo/2020/01/07/05/42/feedback-4746811_1280.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 50px;
}
